<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p>
  </p>
  <h1>Raspberry Farm</h1>
  <form action="watering" method="POST">
	<input type="hidden" name="id" value="1">
	<input type="submit" value="水をやる">
    </div>
  </form>
</body>
</html>

